@(currentPage: Page[Book], currentFilter: String, filterby:String, currentSortBy: String, currentOrder: String)

@home {        

    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Done!</strong> @flash.get("success")
        </div>
    } 

    <div id="actions">
        
        <form action="@routes.Library.search(0, currentFilter, filterby, currentSortBy, currentOrder)" method="GET">
            <span class="st1">Search</span>
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="keywords...">
            <span class="st2">in</span>
            <select name="fb" id="fb">            	
            	<option @if(filterby == "title"){ selected="selected" } value="title">Title</option>
            	<option @if(filterby == "authors_text"){ selected="selected" } value="authors_text">Author</option>            	
            </select>
           <div style="clear:both"></div>
            <span class="st1">Sort by</span>
       		<select name="s" id="s">
       			<option @if(currentSortBy == "title"){ selected="selected" } value="title">Title</option>
            	<!-- <option @if(currentSortBy == "year"){ selected="selected" } value="year">Year</option> -->            		            	            
            </select>
            <span class="st2">in</span>
            <select name="o" id="o">
            	<option value="asc" @if(currentOrder == "asc"){ selected="selected" }>Ascending</option>
            	<option value="desc" @if(currentOrder == "desc"){ selected="selected" }>Descending</option>	            	            	
            </select>
            <input type="submit" id="searchsubmit" value="Search" class="btn primary">
        </form>
        
    </div>
   
	    <h1 id="searchResCount">@Messages("books.list.title", currentPage.getTotalRowCount)</h1>
	    @if(currentPage.getTotalRowCount == 0) {
	        
	        <div class="well">
	            <em>Nothing to display</em>
	        </div>
	        
	    } else {
	       
	        <table class="computers zebra-striped">
	            <tbody>
	                @for(book <- currentPage.getList) {
	                    <tr>                     	
	                        <td>
	                        	<div class="title">
	                        		<a href="@routes.Library.details(book.id)">@book.title</a>
	                        	</div>	
	                        	<span class="authort">Author</span><span class="symbol">:</span><span class="authorv">@book.authors_text</span><br />
	                        	<span class="pubt">Publisher</span><span class="symbol">:</span><span class="pubv">@book.publisher_text</span><br />
	                        </td>
	                    </tr>
	                }
	
	            </tbody>
	        </table>
	
	        <div id="pagination" class="pagination">
	            <ul>
	                @if(currentPage.hasPrev) {
	                    <li class="prev">
	                        <a href="@routes.Library.search(currentPage.getPageIndex - 1, currentFilter, filterby, currentSortBy, currentOrder)">&larr; Previous</a>
	                    </li>
	                } else {
	                    <li class="prev disabled">
	                        <a>&larr; Previous</a>
	                    </li>
	                }
	                <li class="current">
	                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
	                </li>
	                @if(currentPage.hasNext) {
	                    <li class="next">
	                        <a href="@routes.Library.search(currentPage.getPageIndex + 1, currentFilter, filterby, currentSortBy, currentOrder)">Next &rarr;</a>
	                    </li>
	                } else {
	                    <li class="next disabled">
	                        <a>Next &rarr;</a>
	                    </li>
	                }
	            </ul>
	        </div>	        	    
    }
        
}

            
