@(bookid:Long,booktitle:String,catalogueForm: Form[Catalogue])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 
	
@main() {
	<h1 class="heading">@booktitle : Add a catalogue</h1>   
   @form(routes.Catalogues.save(bookid)) {
       
       <fieldset>        
           @inputText(catalogueForm("barcode"), '_label -> "Barcode")  
           @select(
                catalogueForm("status.id"), 
               	options(CatalogueStatus.options), 
                '_label -> "Status", '_default -> "-- Choose a status --",
                '_showConstraints -> false
            )                   
            <input type="hidden" name="book.id" value="@bookid" />
       </fieldset>
       
       <div class="actions">
           <input type="submit" value="Add" class="btn primary">  
           <a href="@routes.Catalogues.list(bookid)" class="btn">Cancel</a> 
       </div>
       
   }
    
}